/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  color: white;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 90px;
}

hr {
  margin: 20px;
}

h2 {
  text-align: center;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#login {
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

#password {
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

#buttonLogin {
  height: 25px;
  width: 50px;
  border-radius: 5px;
  border: none;
}

.trybewarts-header-logo {
  width: 60px;
}

/* Main */
main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.fullName {
  display: flex;
  height: 25px;
}

#input-name {
  border: 1px solid rgb(50, 167, 145);
  border-radius: 5px;
  margin-right: 10px;
}

#input-lastname {
  border: 1px solid rgb(50, 167, 145);
  border-radius: 5px;
  margin-right: 10px;
}

.input-style {
  margin-top: 10px;
}

#input-email {
  border: 1px solid rgb(50, 167, 145);
  border-radius: 5px;
  margin-right: 10px;
  height: 25px;
}

#house {
  border: 1px solid rgb(50, 167, 145);
  border-radius: 5px;
  margin-right: 10px;
  height: 25px;
  background-color: white;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

/* Forms */
.radioButton {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.radioLabel {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  padding: 5px 0;
}

.subject {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  padding: 5px 0;
  margin-right: 10px;
}

.checkButton {
  display: flex;
  flex-wrap: wrap;
}

#container1 {
  display: flex;
  justify-content: space-around;
}

.conteudo2 {
  width: 200px;
}

