/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  color: white;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 90px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-header-logo {
  width: 80px;
}

/* Main */
main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}
